@import '../styles/media-queries.css';

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  & img {
    margin-right: 1rem;
    width: 100px;
  }
}

.cast {
  cursor: pointer;
  &:hover {
    background-color: #b1fc72;
  }
}

.name {
  font-size: 2rem;
}

.role {
  font-size: 1.5rem;
}
