@import '../styles/media-queries.css';

.footer {
  background: #b1fc72;
  padding: 1rem;
  text-align: center;
  & > div {
    max-width: 1200px;
    margin: 0 auto;
  }
  & p + p {
    margin: 0 auto 0.5rem;
  }
  & img {
    max-width: 250px;
  }
}
.credits {
  position: absolute;
  bottom: -5px;
  & a {
    color: currentColor;
    font-weight: bold;
  }
}
.credits:before {
  content: '';
  height: 110%;
  width: 120%;
  background-color: rgba(177, 252, 114, 0.85098);
  position: absolute;
  margin-left: -10%;
  opacity: 0.9;
  z-index: -1;
  top: 0;
  left: 0;
}
