.backdrop {
  background-color: rgba(0, 0, 0, 0.7) !important;
  top: 0;
  position: fixed !important;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.modal {
  position: relative;
  margin: 0;
  padding: 2.5rem;
  background-color: rgba(177, 252, 114, 0.85098);
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
  max-width: 700px;
  top: 50%;
  left: 50%;
  text-align: left;
  transform: translate(-50%, -50%);
  overflow: auto;
  max-height: 100%;
  & > div {
    overflow-y: auto;
    height: 100%;
  }
}

.close {
  position: fixed !important;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
  border: none;
  padding: 0;
  background: none;
  & svg {
    height: 2rem;
    width: 2rem;
  }
}
